@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-image: url("/public/bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
